/* Reset some default styles for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Page container styles */
.page {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

/* Visualization container styles */
.visualization {
  margin: 20px 0;
}

/* Text styles */
h1 {
  font-weight: 800;
  font-size: 28px;
  color: #333;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  color: #0077b6; /* Blue color for headings */
}

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

/* Customize Pure.css grid for responsive layout */
.pure-g {
  margin-top: 20px;
}

.pure-u-1 {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5; /* Light gray background for descriptions */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

/* Highlighted text */
.highlight {
  font-weight: bold;
  color: #0077b6;
}
